/* This file is for your main application css. */

#messages {
  height: 280px;
  overflow: auto;
  padding: 15px;
  text-align: left;
  margin-bottom: 40px;
  border-radius: 10px;
  background:  white;
}
