/* This file is for your main application css. */
@import "bootstrap";

.invalid-feedback {
  display: block;
}

.spinner {
  background-image: url("/images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.map {
  min-height: 700px;
}
