.header {
  @extend .p1;
  margin-bottom: 0;
  background: $off-white;
  text-align: center;
  .nav-links {
    padding: 0;
    overflow: auto;
    list-style: none;
    li {
      @extend .p1;
      display: inline-block;;
      a {
        @extend .btn;
        text-decoration: none;
      }
    }
  }
  .branding a {
    font-size: 3.3rem;
    line-height: 1.5;
    text-decoration: none;
    color: $font-color;
  }
}
