.topic-show {
  @extend .section;
  .post {
    @extend .brdr--light-gray, .bg--off-white;
    @extend .my1, .p1;
    text-align: justify;
    &__author {
      @extend .muted;
      font-size: 80%;
      padding: 0;
      margin: 0 0 1rem;
    }
  }
}

.topic-index {
  @extend .section;
  .topics-list {
    list-style: none;
    padding: 0;
  }
  .new {@extend .btn;}
}

.post-new {@extend .section;}

.post-new-wrapper {background: $off-white;}

.topic-new {@extend .section;}

.post-edit {@extend .section;}

.topic-card {
  @extend .brdr--light-gray, .bg--off-white;
  @extend .my1, .p1;
  p {
    margin: 0;
    padding: 0;
  }
  &--title {
    font-size: 1.3rem;
    font-weight: bolder;
  }
  &--meta {
    @extend .muted;
  }
}
