@import "furtive/scss/all";
@import "./_topics";
@import "./_nav";

input, textarea, select {
  font-size: 16px;
}

.section {
  @extend .p1;
  max-width: 40rem;
  margin: 0 auto;

  .section-header {
    margin-top: 0;
  }
}

.content {
  text-align: center;
}




